<?xml version = "1.0" encoding = "UTF-8"?>
<web-app>
  <servlet>
    <servlet-name>prediction2</servlet-name>
    <servlet-class>j2ee.mvn.war.b.prediction2.PredictionsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>prediction2</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>
</web-app>
